/*
#myself {
  width: 15rem;
  height: 15rem;
  max-width: 15rem !important;
  max-height: 15rem !important;
  object-fit: none;
  object-position: 45% 25%;
  transform: scale(0.75);
}
*/

#myself {
  position: relative;
  top: -300px;
  bottom: 250px;
  width: 70rem;
  height: 70rem;
  max-width: 70rem !important;
  max-height: 70rem !important;
  object-fit: none;
  object-position: 50% 30%;
  transform: scale(0.13);
  border: 4rem solid rgba(255, 255, 255, 0.2) !important;
}

.navbar-brand {
  max-height: 22rem;
  margin: 0 !important;
  padding: 0 !important
}

.my-stacked {
  width: 1.1em;
  height: 1em;
  vertical-align: -0.125em
}

#google-tools {
  width: 50px;
}
