#myself {
  width: 15rem;
  height: 15rem;
  max-width: 15rem !important;
  max-height: 15rem !important;
  object-fit: none;
  object-position: 45% 25%;
  transform: scale(0.75);
}

.my-stacked {
  width: 1.1em;
  height: 1em;
  vertical-align: -0.125em
}

#google-tools {
  width: 50px;
}
